{% extends 'base.html.twig' %}

{% block title %}Github notifier{% endblock %}

{% block body %}

<header>
    <div class="wrapper">
        <div class="content">
            <h1 class="home_title">Github notifier</h1>
            <p class="subtitle">Petit texte</p>
            <a class="btn btn-primary" href="{{ path('login') }}">Sign in</a>
        </div>
    </div>
</header>
{% endblock %}
