{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}

<header>
    <div class="wrapper">
        <div class="content">
            <h1 class="home_title">Login</h1>
            <a class="button button--social-login button--github" href="{{ path('github') }}"><i class="icon fab fa-github"></i>Login With Github</a>
        </div>
    </div>
</header>
{% endblock %}
